<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                            http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-3.2.xsd
                            http://www.springframework.org/schema/jee
                            http://www.springframework.org/schema/jee/spring-jee-3.2.xsd 
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<context:annotation-config />
	<context:component-scan base-package="yushijinhun.authlibagent.backend" />

	<bean id="data_source" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost/yggdrasil" />
		<property name="user" value="yggdrasil" />
		<property name="password" value="authlibagent_yggdrasil_backend" />
		<property name="maxIdleTime" value="8000" />
		<property name="maxPoolSize" value="40" />
		<property name="maxStatements" value="100" />
	</bean>

	<bean id="session_factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="packagesToScan" value="yushijinhun.authlibagent.backend.dao.pojo" />
		<property name="dataSource" ref="data_source" />
	</bean>

	<bean id="transaction_manager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="session_factory" />
	</bean>

	<tx:annotation-driven transaction-manager="transaction_manager" />

	<bean id="config" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>WEB-INF/application.properties</value>
			</list>
		</property>
	</bean>
	<bean id="property_configurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="properties" ref="config" />
	</bean>

	<bean id="rmi_web_backend" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service" ref="web_backend" />
		<property name="serviceName" value="rmi://localhost:10099/web_backend" />
		<property name="serviceInterface" value="yushijinhun.authlibagent.api.web.WebBackend" />
	</bean>

	<bean id="rmi_backend" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service" ref="backend_access" />
		<property name="serviceName" value="rmi://localhost:10099/backend_access" />
		<property name="serviceInterface" value="yushijinhun.authlibagent.backend.api.YggdrasilBackend" />
	</bean>

</beans>
