<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:cxf="http://cxf.apache.org/core" xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                            http://cxf.apache.org/core
                            http://cxf.apache.org/schemas/core.xsd
                            http://cxf.apache.org/jaxrs
                            http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="jsonMapper" class="yushijinhun.authlibagent.util.ObjectMapperBean" />
	<bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider">
		<property name="mapper" ref="jsonMapper" />
	</bean>

	<jaxrs:server id="restfulApi" address="/api">
		<jaxrs:serviceBeans>
			<ref bean="accountResource" />
			<ref bean="profileResource" />
			<ref bean="ruleResource" />
			<ref bean="keyResource" />
			<ref bean="loginResource" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<ref bean="octetStreamProvider" />
			<ref bean="applicationExceptionHandler" />
		</jaxrs:providers>
		<jaxrs:properties>
			<entry key="default.wae.mapper.least.specific" value="true" />
		</jaxrs:properties>
	</jaxrs:server>

</beans>