<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="rmiWebBackend" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service" ref="webBackend" />
		<property name="serviceName" value="${rmi.webBackend.serviceName}" />
		<property name="registryPort" value="${rmi.webBackend.port}" />
		<property name="serviceInterface" value="yushijinhun.authlibagent.api.web.WebBackend" />
	</bean>

</beans>
