<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{YYYY-MM-DD HH:mm:ss.SSS}] [%level] [%t] [%logger] %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<root level="all">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>  
